RewriteEngine On
RewriteBase /simperpus/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^index$ index.php
RewriteRule ^admin$ admin.php

#admin
RewriteRule ^beranda_admin$ admin.php?views_admin=beranda_admin
RewriteRule ^data_anggota$ admin.php?views_admin=data_anggota
RewriteRule ^data_kelas$ admin.php?views_admin=data_kelas
RewriteRule ^data_mapel$ admin.php?views_admin=data_mapel
RewriteRule ^data_buku$ admin.php?views_admin=data_buku

RewriteRule ^peminjaman$ admin.php?views_admin=peminjaman
RewriteRule ^tambah_peminjaman$ admin.php?views_admin=tambah_peminjaman
RewriteRule ^cetak_anggota$ admin.php?views_admin=cetak_anggota
RewriteRule ^cetak_buku$ admin.php?views_admin=cetak_buku
RewriteRule ^cetak_transaksi$ admin.php?views_admin=cetak_transaksi

RewriteRule ^blank_page$ admin.php?views_admin=blank_page

# X-XSS-Protection
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
</IfModule>

# Protect database config file
<Files env.php>
    deny from all
</Files>
Options All -Indexes